<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <main>
        <div id="pokedex">
            <div id="pokedata">

            </div>
            <div id="inputs">
                <div id="display">

                </div>
                <div id="buttonContainer">
                    <button class="button">7</button>
                    <button class="button">8</button>
                    <button class="button">9</button>
                    <button class="button">4</button>
                    <button class="button">5</button>
                    <button class="button">6</button>
                    <button class="button">1</button>
                    <button class="button">2</button>
                    <button class="button">3</button>
                </div>
                <button style="width:100%; margin: auto"> Search </button>

            </div>
        </div>
        

    </main>
    
</body>
</html>
